<div class="row">
    <div class="col-12 px-0 my-3 d-flex justify-content-between align-items-center">
        <h1>Bonjour {{ nom }} ! </h1> 
        <a routerLink="/admin/article/add" class="btn btn-primary">Ajouter un nouvel article</a>
    </div>
    <div class="col-12 px-0">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>titre</th>
                <th>description</th>
                <th>modifier</th>
                <th>supprimer</th>
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let article of articles">
                    <td>{{ article._id}}</td>
                    <td>{{ article.company }}</td>
                    <td>{{ article.about }}</td>
                    <td> 
                        <a [routerLink]="['/admin/article', article._id]" class="btn btn-warning">Modifier</a>
                    </td>
                    <td>
                        <button class="btn btn-danger">Supprimer</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
