<form class="row" #f="ngForm"  (submit)="onSubmit(f)">
    <div class="form-group col-6 pl-0">
        <label for="email">email</label>
        <input 
            type="text" 
            id="email" 
            name="email" 
            class="form-control"
            placeholder="votre@email.fr"
            ngModel 
            #email="ngModel"
            required 
            minlength="8"
            maxlength="50">
    </div>
    <div class="form-group col-6 pr-0">
        <label for="service">service</label>
        <select 
            name="service" 
            id="service" 
            class="form-control" 
            ngModel 
            #service="ngModel"
            required
            minlength="3"
            maxlength="50">
            <option value="">Sélectionner un service</option>
            <option value="web">web</option>
            <option value="sav">sav</option>
            <option value="commercial">commercial</option>
        </select>
    </div>
    <div class="form-group col-12 px-0">
        <label for="commentaire">commentaire</label>
        <textarea 
            name="commentaire" 
            id="commentaire" 
            class="form-control"
            placeholder="votre commentaire"
            ngModel 
            #commentaire="ngModel"
            required
            minlength="3"
            maxlength="50"></textarea>
    </div>
    <div class="form-group col-12  pr-0 d-flex justify-content-end mt-4">
        <input type="submit" class="btn btn-outline-danger" [disabled]="!f.valid">
    </div>
</form>
<div class="alert alert-success" *ngIf="show">
    <p class="mb-0">Merci pour votre message, nous revenons vers vous au plus vite !! </p>
</div>
